
@{
    ViewData["Title"] = "Place";
}

<h1>Place Order</h1>

<h3>Are you sure you want to Place this order?</h3>


<form asp-action="Place">
    <input type="submit" value="Check Out" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>