@model IEnumerable<ET.ComicStore.Library.ComicStore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ShowStore">Show Order History for a Store Location</a>
    <br />
    <br />
    <a asp-action="ShowCustomer">Show Order History for a Customer</a>
</p>

